.about {
    background: url('../assets/img/KimBasilGreen.jpg') no-repeat fixed center center;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    display: block;
    position: relative;
    height: 560px;
    width: 100%;
}