.divider1 {
    background-image: url('../assets/img/GarlicBraids.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
    width: 100%;
}