.divider1 {
    background-image: url('../assets/img/GarlicBraids.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: block;
    position: relative;
    min-height: 25vh;
}