.about {
    background-image: url('../assets/img/KimBW.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
    width: 100%;
}