@media screen and (max-width: 450px) {
  .page-title {
    font-size: 48px;
  }
  .page-tagline {
    font-size: 24px;
  }
  .divider1,
  .divider2 {
    min-height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .display-6 {
    font-size: 36px !important;
  }
  div > .about-img {
    padding: 0 !important;
  }
  div > .about-body {
    padding: 0 !important;
  }
  .servicesCard {
    min-width: 86vw;
    transform: translateX(-11%);
  }
  .gallery-container {
    width: auto;
  }
}

@media screen and (max-width: 375px) {
  .servicesCard {
    min-width: 75vw;
    transform: translateX(-9%);
  }
}
