@media screen and (max-width: 450px) {
  .page-title {
    font-size: 48px;
  }
  .page-tagline {
    font-size: 24px;
  }
  .divider1 {
    min-height: 20vh;
    background-size: contain;
  }
  .display-6 {
    font-size: 36px;
  }
  .about-img {
    padding: 0 !important;
  }
  .about-body {
    padding: 0 !important;
  }
}
